<div>
    <h2>Issue to delete</h2>
    <input type="text" placeholder="Issue ID" [(ngModel)]="idDeleteValue">
    <button (click)="deleteIssue()">Submit</button>
    <div *ngIf="deletedIssueData()">
        <h3>Deleted Issue:</h3>
        <div class="project-display">
            <p><strong>ID:</strong> {{deletedIssueData()?.issueId}}</p>
            <p><strong>Name:</strong> {{deletedIssueData()?.title}}</p>
        </div>
    </div>
    <div *ngIf="successMessageDeleteIssue()" class="success-message">
        {{ successMessageDeleteIssue() }}
    </div>
</div>
