
<div class="issue-list">
    <h2>Fetch ALL issues</h2>
    <button (click)="getIssues()">Fetch Issues</button>
    <div *ngFor="let issue of issueList();" class="issue-card">
            <p><strong>Issue ID:</strong> {{issue.issueId}}</p>
            <p><strong>Project ID:</strong> {{issue.projectId}}</p>
            <p><strong>Title:</strong> {{issue.title}} </p>
            <p><strong>Description:</strong> {{issue.description}} </p>
            <p><strong>Status:</strong> {{issue.status}} </p>
            <p><strong>Priority:</strong> {{issue.priority}} </p>
            <p><strong>Severity:</strong> {{issue.severity}} </p>
            <p><strong>Time Created:</strong> {{issue.timeCreatedAtEpoch}} </p>
            <p><strong>Time Updated:</strong> {{issue.timeUpdatedAtEpoch}} </p>
    </div>
</div>
