.container {
  padding: 20px;
}

.container>div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  color: #333;
}

h2 {
  color: #666;
}

input,
select {
  margin: 5px 0;
  padding: 8px;
  width: 300px;
}

button {
  padding: 10px 10vh;
  background-color: #007bff;
  color: white;
  font-size: medium;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
